@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "За нас";
}
<body background="~/Content/BMW.jpg">
</body>
<section class="row">
    <article class="post col-md-3">
        <h2>За нас </h2>
        
        <div>
            <p><b>Cars SoftUni</b> e търговец на автомобили нов внос, вносител на коли втора употреба от Италия, Германия, Австрия, Холандия, Швейцария, Канада, САЩ и др. Коли нов внос употребявани леки, лекотоварни, товарни автомобили, мотоциклети по поръчка внос от чужбина, изгоден лизинг, внос коли на старо Porshe cars Volvo Toyota Suzuki Mercedes BMW VW Opel Renault Peugeot Citroen Ford Skoda Mitsubishi Audi Alfa Romeo Fiat Honda Hundai Kia Land Range Rover Seat Mazda Smart cars
            </p>
            <h4>Нашият екип <img src="~/Content/programming.gif" alt="Computer man" style="width:48px;height:48px;"></h4>
            <div>Нашият мениджърски екип е съставен от четирима млади, амбициозни и опитни професионалисти, които отговарят за управлението на различните отдели и осъществяването на дейността на Cars SoftUni.</div>
            </div>
        </article>
    </section>



