@{
    ViewBag.Title = "Потвърждаване на имейл";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Благодарим, че потвърдихте вашия имейл. Моля @Html.ActionLink("За вход, моля кликнете тук", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
