@{
    ViewBag.Title = "Потвърждение за нулиране на парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Вашата парола беше нулирана. Моля, @Html.ActionLink("за вход кликнете тук", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
